<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Contact Web</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light">
            <div class="container">
                @Html.ActionLink("Contact Web 2019", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })


                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex flex-sm-row-reverse">
                    @Html.Partial("_loginPartial")
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item active">
                            @Html.ActionLink("Accueil", "Index", "Home", new { area = "" }, new { @class ="nav-link text-dark" })
                        </li>
                        <li class="nav-item active">
                            @Html.ActionLink("À propos de", "About", "Home", new { area = "" }, new { @class ="nav-link text-dark" })
                        </li>
                        <li class="nav-item active">
                            @Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class ="nav-link text-dark" })
                        </li>

                    </ul>
                </div>

            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="p-3">
            @RenderBody()
        </main>

        <hr />

    </div>

    <footer>
        <div class="container">&copy; @DateTime.Now.Year - Mon application ASP.NET</div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
